<% content_for :title, "レシート編集" %>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="h4 mb-0">レシート編集</h1>
  <div class="btn-group">
    <%= link_to "詳細", @receipt, class: "btn btn-outline-secondary" %>
    <%= link_to "一覧へ戻る", receipts_path, class: "btn btn-outline-secondary" %>
  </div>
</div>

<%= render "form", receipt: @receipt %>
